<div id="<%= dom_id appearance %>">
  <p>
    <strong>Rating:</strong>
    <%= appearance.rating %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= appearance.guest_id %>
  </p>

  <p>
    <strong>Episode:</strong>
    <%= appearance.episode_id %>
  </p>

</div>
